<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jassgroup.centinela">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jassgroup.intro.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jassgroup.intro.IntroAppActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name="com.jassgroup.acceso.SignUpActivity" />
        <activity android:name="com.jassgroup.acceso.IniciarSesionActivity" />
        <activity android:name="com.jassgroup.acceso.RegistroUsuarioActivity" />
        <activity android:name="com.jassgroup.acceso.ReestablecerClaveActivity" />
        <activity android:name="com.jassgroup.centinela.activity.AgregarPersonaListaNegraActivy" />
        <activity android:name="com.jassgroup.centinela.activity.BusquedaPersonaActivity"/>
        <activity android:name="com.jassgroup.centinela.activity.RegistroPersonaListaNegraActivity"/>
        <activity android:name="com.jassgroup.centinela.activity.BusquedaVehiculoActivity"/>
        <activity android:name="com.jassgroup.centinela.activity.RegistroVisitaVehiculoActivity"/>
        <activity android:name="com.jassgroup.centinela.activity.RegistroVehiculoListaNegraActivity"/>
        <activity android:name="com.jassgroup.centinela.activity.RegistroVehiculoActivity"/>
        <activity android:name="com.jassgroup.centinela.activity.RegistroVisitaVehiculoAsistenciaActivity"/>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/CustomTheme" />
        <activity android:name="com.jassgroup.profile.EditarProfileActivity" />
        <activity android:name=".activity.RegistroPersonaActivity" />
        <activity android:name=".activity.RegistroVisitaActivity" />
    </application>

</manifest>